 <h1> welcome to Ramaera My Mart!</h1>
<p>Please click below to confirm your email</p>
<p>Card Number : {{CardDetails.cardNumber}}</p>
<p>Card Value : Rupee {{CardDetails.cardValue}}</p>
<p>Max Redeem Value Per Month : {{CardDetails.maxDiscount}}</p>
<p>Card Validity : {{CardDetails.cardValidity}}</p>
<p>Login id:{{userLoginID}}</p>
<p>Your Password: {{password}}</p>
<p>Kindly changed your password </p>